@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --blue-dark: hsl(213, 19%, 18%);
  --blue-dark-strong: hsl(216, 12%, 8%);
  --grey-light: hsl(217, 12%, 63%);
  --grey-medium: hsl(216, 12%, 54%);
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --primary-color: var(--orange);
  
  --unit-margin: 0.83em;
  --wrapper-padding: 1rem;

  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
  color: var(--grey-light);
}

html body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  background-color: black;
}

.rate-box, .result-box {
  max-width: calc(375px - 2rem);
  height: fit-content;
  padding: 2rem 1.5rem;
  border-radius: 2rem;
  background-color: var(--blue-dark-strong);
}

.rate-box__icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: var(--blue-dark);
  border-radius: 100vw;
}

.rate-box__title {
  margin-block-start: calc(var(--unit-margin) * 2);
  color: var(--white);
}

.rate-box__question {
  font-size: 15px;
  margin-block-end: calc(var(--unit-margin) * 2);
}

.rate-box__rating-list {
  display: flex;
  justify-content: space-between;
  margin-block-end: calc(var(--unit-margin) * 2);
  padding-left: 0;
  padding-top: 0;
  list-style: none;
}

.rate-box__rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border-radius: 100vw;
  background-color: var(--blue-dark);
}

.rate-box__submit {
  width: 100%;
  padding: 1rem;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 100vw;
  background-color: var(--primary-color);
  color: var(--white);
}

.result-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.result-box::backdrop {
  /* padding: 1rem; */
  background-color: black;
}

.result-box__icon-wrapper {
  margin-block-start: 15px;
}

.result-box__grade {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-block-start: calc(var(--unit-margin) * 1.4);
  margin-block-end: calc(var(--unit-margin) * 2);
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  color: var(--primary-color);
  background-color: var(--blue-dark);
}

.result-box__title {
  margin-block-start: 0;
  margin-block-end: 0;
  color: var(--white);
}

.result-box__text {
  font-size: 15px;
  text-align: center;
  color: var(--grey-medium);
}

/* - Mobile: 375px - Desktop: 1440px */
